/*全部使用rem+%，fixed元素使用了固定高度*/
* {
  box-sizing: border-box;
}

html,body,div,ul,li,i,input,img,label,a {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px
}

ul {
  list-style-type: none
}

body {
  padding-top: 5rem;
  padding-bottom: 6rem
}

.header,.main .dropdown ul,.main .dropdown li {
  display: flex;
}

.header,.main .dropdown li {
  align-items: center;
}

.header,.footer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 111
}

.header,.main .content ul {
  padding: 0 3%;
}

.header{
  height: 5rem;
  background-color: #5fc0cd
}

.header .btn-group,.header .btn-group label {
  border-radius: 15px;
}

.header .btn-group label,i {
  display: inline-block;
}

i:not(.non) {
  background-image: url(img/cp.png);
  background-repeat: no-repeat;
}

.main .dropdown ul,.main .content ul {
  border-bottom: 1px solid #999
}

.header {
  justify-content: center;
  top: 0;
}

.header .btn-group {
  background-color: #55a8b3;
  font-size: 1.4rem
}

.header .btn-group input {
  display: none;
}

.header .btn-group label {
  padding: 1rem 1.3rem;
  color: #fff
}

.header .btn-group label.r {
  margin-left: -10px;
}

.header .btn-group input:checked + label {
  background-color: #fff;
  color: #5fc0cd;
}

.header i {
  position: absolute;
  right: 3%;
  width: 42px;
  height: 44px;
  background-position: -10px -360px;
  transform: scale(0.6,0.6);
}

.main .dropdown ul {
  padding: 1rem 3%;
}

.main .dropdown .ha {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	border: 1px solid #ccc;
	background: #ccc;
	font-weight: bold;
	color: #fff;
	z-index: 222;
}
.main .dropdown .ha p {border-bottom: 1px solid #a20}


.main .dropdown li {
	position: relative;
  justify-content: flex-end;
}
.main .dropdown li select {width: 100%;border:0;outline: 0;
padding-left:45%;font-size: 1.5rem;}
@media screen and (max-width: 500px){
  html {font-size: 12px;}
 .main .dropdown li select {padding-left: 0}
}
/*.main .dropdown li select option {border:0;}*/
.main .dropdown li:hover .ha{display: block;}
.main .dropdown li.mid {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background-clip: padding-box,border-box;
  background-origin: padding-box,border-box;
  background-image: linear-gradient(#fff, #fff),linear-gradient(#fffcfc, #ccc, #fff)
}

.main .dropdown li span{
  text-align: center;
}

.main .dropdown li,.main .dropdown li span {
  flex: 1
}

.main .dropdown li i {
  margin-right: 1rem;
  border-top: .6rem solid #000;
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
}

.main .content .item:hover {
  background: #eee
}

.main .content li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main .content li i {
  width: 24px;
  height: 24px;
  margin-right: 1rem
}

.main .content li.cale i {
  background-position: -10px -81px;
}

.main .content li.adr i {
  background-position: -10px -38px;
}

.main .content li.cale, .main .content li.adr {
  color: #999
}

.main .content li span {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  color: #e63;
}

.main .content li span i {
  margin-left: 1rem;
  height: 33px;
  background-position: -10px -125px;
  transform: scale(0.8)
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;  bottom: 0;
  background-color: #f8fafb;
  border-top: 1px solid #e2eaec;
  height: 100px;
}
.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: ;
  margin: 0 2rem;
}
.footer .wr {
  background-color: #5fc0cd;
  border-radius: 50%;
  transform: scale(2);
}
.footer .wr img { transform: scale(.5); }
.footer p{padding:0;margin: 0;}
.footer i {
  width: 46px;
  height: 40px;
  margin-bottom: 10px
}
.footer .per {
  color: #999
}
.footer .home {
  color: #5fc0cd
}
.footer .home i {
  background-position: -10px -178px;
}
.footer .per i {
  background-position: -10px -238px;
}