* {box-sizing: border-box;}
html,body,div,ul,li,img,i,span,p,label {padding: 0;margin: 0}
ul,li { list-style: none; }
a {text-decoration: none;}
.header,
.main .dropdown li,
.footer .item {text-align: center;}

.header .btn,
.header .btn label,
.header i,
.main .dropdown li i {display: inline-block;}

.header .btn input:checked + label,
.footer .home {color: #5fc0cd}

.main .dropdown,
.footer {display: flex;}

.header {
	position: relative;
	padding: 2% 5%;
	background-color: #5fc0cd;
}
.header .btn,
.header .btn label {border-radius: 15px}
.header .btn,
.header .btn label {
	background-color: #55a8b3;
}
.header .btn input {display: none;}
.header .btn label {
	padding: 15px 15px;
	color: #fff;
}
.header .btn input:checked + label {
	background-color: #fff;
}
.header i {
	position: absolute;
	width: 3.5vw;
	height: 3.5vw;
	background: url(img/local.png);
	background-size: contain;
	top:50%;
	right: 3%;
	transform:translate(-50%,-50%);
}
.main {
	margin-bottom: 10vw;
}
.main .dropdown {
	border-bottom: 1px solid #e1e5e7;
	padding: 0 5%
}
.main .dropdown li{
	flex: 1;
	padding: 15px 0;
}
.main .dropdown li.mid {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	background-clip: padding-box,border-box;
	background-origin: padding-box,border-box;
	background-image: linear-gradient(#fff, #fff),linear-gradient(#fffcfc, #ccc, #fff)
}
.main .dropdown li i {
	float: right;
	margin-top: 7px;
	margin-right: 5%;
  border-top: 8px solid #afbac0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent
}
.main .content ul {
	padding: 0 5%;
	border-bottom: 1px solid #e1e5e7
}
.main .content ul li {
	padding:1% 0 1% 7%;
}
.main .content ul span {
	color: #e63b0e;
	float: right;
	margin-right: 2%;
}
.main .content ul span img {
	margin-left: 1.5vw;
	vertical-align: -50%
}
.main .content ul .info-dt {
	background: url(img/cale.png) no-repeat;
	background-position: 0 center
}
.main .content ul .info-adr {
	background: url(img/to.png) no-repeat;
	background-position: 0 center
}
.main .content ul .info-dt,
.main .content ul .info-adr,
.footer .per {
	color: #999
}
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	justify-content: space-between;
	align-items: center;
	padding:1% 30%;
	background-color: #f8fafb;
	border-top: 1px solid #e2eaec
}

.footer .wr {
	width: 7vw;
	height: 7vw;
	background:url(img/wr.png) #5fc0cd;
	background-position: center;
	border-radius: 50%;
}
.header i,
.footer .wr{background-repeat: no-repeat;}
