a:hover { text-decoration: none; }
.header {
	padding: 0;
}
.container {width: 100%;}
.header .header-top a{
	vertical-align: middle;
}
.header .header-top {
	padding: .6rem 0;
	background-color: #fff;
	color: #29b078;
	width: 80%;
	margin: 0 auto;
}
.header .header-top a {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin-left: 5px;
	transform: scale(.9);
}
.header .header-top a.wchat {
	background: url(../img/wechat.png) no-repeat;
	background-size: contain;
}
.header .header-top a.qq {
	background: url(../img/qq.png) no-repeat;
	background-size: contain;
}
.header .header-top a.sina {
	background: url(../img/sina.png) no-repeat;
	background-size: contain;
}
.header .header-nav {
	background-color: #29b078
}
.header .header-nav a:hover {
	box-shadow: 0 -4px #fff inset ;
}
.header .header-nav .content {
	width: 80%;
	margin: 0 auto
}
.header .header-nav .content a {
	padding: 2rem 1rem;
	margin: 0 .5rem;
	font-size: 1.2rem;
	color: #fff;
}
.banner {
	width: 100%;
	height: 400px;
	background-color: #ccc
}
.commu {
	display: flex;
	justify-content: flex-start;
	width: 80%;
	margin: 0 auto;
	padding: 8rem 0;
}
.commu .commu-item {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 3%;
}
.commu .commu-item:last-child {
	justify-content: center;
	align-items: flex-start;
	border-left: 1px dashed #dedede
}
.commu .commu-item:last-child .sum {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem
}
.commu .commu-item:last-child .sum span:first-child {
	color: #29b078
}
.commu .commu-item:last-child .sum span img {
	margin-right: .5rem
}
.commu .commu-item i {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	background: url(../img/rocket.png) no-repeat center;
	background-size: contain
}
.commu .commu-item .title { font-weight: bold;margin: 2rem 0 }
.commu .commu-item .content { color: #999 }

.learn-path {width: 80%;margin: 0 auto}
h5 { text-align: center;font-weight: 600;margin-bottom: 2rem}
.learn-path .item-list { padding: 0 3% }
.learn-path .item-row {
	display: flex;
	justify-content: flex-start;
	padding: 2rem 0;
	margin-bottom: 2rem
}
.learn-path .item-row .item {
	display: flex;
	align-items: center;
}
.learn-path .item-row .item * {
	margin-right: 2rem
}
.learn-path .item-row .item .num {
	flex: 0 0 4rem;
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	border:1px solid #efeeee;
	border-radius: 50%;
	box-shadow: 0 2px 2px #e6e5e6;
	text-align: center
}
.stu-show {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 7rem;
	text-align: center;
}
.stu-show .item-list {
	display: flex;
	padding: 2rem 0
}
.stu-show .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 2%;
	padding: 0 1.5%;
	border: 1px solid #eeeded;
}
.stu-show .item:hover {
	box-shadow: 0 1px 10px #ccc;
}
.stu-show .item-list * {
	margin-bottom: 2rem
}
.stu-show .item .avatar {
	margin-top: 1rem;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	background: url(../img/avatar.png) no-repeat center;
	background-size: contain
}
.stu-show .item-list .title {
	font-weight: 600
}
.stu-show .item .info {
	line-height: 1.5;
	color: #999
}
.stu-show ul li {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin: 0 .3rem;
	border-radius: 50%;
	box-shadow: 0px 1px 5px #999;
}
.stu-show ul li:first-child {
	background-color: #29b078
}
.cp {
	width: 80%;
	margin: 0 auto
}
.cp .item-list {
	display: flex;
	align-items: center;
}
.cp .item {
	flex: 1;
	text-align: center;
}
.cp .item:hover {
	box-shadow: 0 1px 10px #ccc;
}
.friend-link {
	width: 80%;
	margin: 0 auto
}
.friend-link .item-row {
	display: flex;
	color: #999
}
.friend-link .item {
	flex: 1;
	display: flex;
	align-items: center;
	margin-bottom: 1rem
}
.friend-link .item:before {
	display: inline-block;
	content: "";
	border: 3px solid #999;
	border-radius: 50%;
	margin-right: .5rem
}
.friend-link .item:hover {
	box-shadow: 0 0px 1px #26a26f
}
.footer {
	background-color: #26a26f;
	color: #fff;
}
.footer .content {
	display: flex;
	width: 80%;
	margin: 0 auto;
	padding: 3rem 0;
}
.footer .content .item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 10rem;
}
.footer .content .about {
	margin-right: 10rem
}
.footer .content .qrcude {
	flex: 1;
	display: flex;
	align-items: center;
}
.footer .copyright {
	padding: 1rem 0;
	text-align: center;
	border-top: 1px solid #32c086
}