/*.header,.container,.footer进行了flex布局重构*/
html,body,div,input,button {padding: 0;margin: 0}
html,body {width: 100%;font-size: 625%}
body {color: #fff;background: #ccc}
@media screen and (max-width: 950px) {
    html {
        font-size: 60px;
        background: #ccc
    }
}
@media screen and (max-width: 550px) {
    html {
        font-size: 45px;
        background: #ccc
    }
}
a {text-decoration: none;color: #fff}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 4.03% 4.3%;
	font-size: .2575rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .title{
	font-size: .2875rem;
}
.main {
	/*margin-top: 14rem;*/
	margin-top: 12.7%;
	font-size: .2575rem;
	background: #ccc
}
.container {
	padding: 4.2% 0;
	background: #fff;
	margin-top: 2%;
	display: flex;
	align-items: center;
}
.container img {
	margin: 0 6%;
	vertical-align: top;
	width: 3.5%;
}
.container input {
	padding: 0 4.8%;
	border: 0;
	border-left: 0.02rem solid #eaedee;
	outline: 0;
	font-size: .2575rem;
}
.footer {
	margin-top: 7%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header,
button {
	background: #5fc0cd
}
button {
	flex: 1;
	color: #fff;
	font-size: .2875rem;
	letter-spacing: .2rem;
	padding: 4.03% 0;
	border: 0;
	outline: 0;
}
button:hover {
	cursor: pointer;
}
.footer a {
	align-self: flex-end;
	font-size: .2275rem;
	margin: .15rem .15rem .15rem 0
}